:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
  --ocean: #404bbf;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate, #434455);
  background-color: var(--white);
}

.header {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.header-logo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-studio {
  color: var(--navyblue, #2e2f42);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* HEADER!!!!!!!!!!! */

.header-item {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-item:active {
  color: var(--ocean, #404bbf);
}

.header-item:hover,
.header-item:focus {
  color: var(--ocean);
}

.header-contacts-item {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contacts-item:active {
  color: var(--ocean, #404bbf);
}

.header-contacts-item:hover,
.header-contacts-item:focus {
  color: var(--ocean, #404bbf);
}

.address {
  font-style: normal;
}

/* MAIN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-section {
  padding-bottom: 120px;
}

.main-wrap {
  background-color: var(--navyblue);
  padding: 188px 472px 292px 472px;
}

.main-title {
  color: var(--white, #fff);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  background-color: var(--navyblue, #2e2f42);
  text-align: center;
  width: 496px;
  margin-bottom: 48px;
}

.button-order {
  font-family: "Roboto", sans-serif;
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris, #4d5ae5);
  cursor: pointer;
}

.button-order:active {
  background: var(--ocean, #404bbf);
}

.button-order:hover,
.button-order:focus {
  background: var(--ocean, #404bbf);
}

.business-strategies {
  padding: 0 156px;
}

.menu-item {
  max-width: 264px;
}

.name-menu-item {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.menu-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 72px;
}

.services-list {
  padding-bottom: 120px;
}

.members-team {
  background-color: var(--cloud);
  padding-bottom: 120px;
}

.card-image {
  padding-bottom: 32px;
}

.team-members-item {
  background-color: var(--white);
}

.name-menu-item {
  background-color: var(--white);
  padding-bottom: 8px;
}

.menu-text {
  padding-bottom: 32px;
}

.footer {
  background-color: var(--navyblue);
  padding: 100px 1020px 100px 156px;
}

.footer-logo-studio {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--navyblue, #2e2f42);
  width: 264px;
  padding-top: 16px;
}

/* PAGE 2 */

.button-list {
  padding-top: 96px;
  padding-bottom: 72px;
}

.button-item {
  font-family: "Roboto", sans-serif;
  color: var(--iris, #4d5ae5);
  /* text-align: center; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--cloud, #f4f4fd);
  cursor: pointer;
}

.button-item:hover,
.button-item:focus {
  color: var(--white, #fff);
  background: var(--ocean, #404bbf);
}

.image-portfolio {
}

.name-menu-item {
  padding-top: 32px;
  padding-bottom: 8px;
  padding-left: 16px;
}
.menu-text {
  padding-bottom: 32px;
  padding-left: 16px;
}
